.App {
  text-align: center;
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(270, 67%, 38%, 1) 100%
  );
  height: 100vh;
}

.App-logo {
  display: flex;
  height: 20vmin;
  pointer-events: none;
  margin: 1rem;
}

.App-header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: white;
  padding: 5rem 2rem;
}

.Game-name {
  text-align: center;
  font-size: 4rem;
}

.introText {
  color: white;
  font-size: 2.5rem;
  height: 20vh;
  padding: 1rem 2rem;
}

.Start-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.button {
  font-size: 4rem;
  font-family: "Helvetica";
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
}
