.timeLeft {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.randomWordButton {
    border: none;
    color: white;
    background: black;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    padding:2rem;
}

.generatorImageButton {
    border: none;
    color: white;
    background: black;
    padding:2rem;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}

.inputArea {
    border: none;
    background: black;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border-radius: 1rem;
    text-align: left;
    width: 50%;
    overflow:hidden;
    resize: none;
    min-height: 100px;
    max-height: 100px;
    &:focus{
        background: black;
    }
    &:hover {
        background: black
    }
}

.topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 42px;
    color: rebeccapurple;
}

.topicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 28px;
    color: white;
}

.timeUpText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    font-size: 6rem;
    color:white;
}